
<div class="page-more">

  <app-header></app-header>

  <section class="more">
    <div class="container">
      <p class="title">Дізнайтеся більше</p>
      <div class="more__content">
        <div class="more__image">
          <img src="assets/img/girl.png" alt="girl">
        </div>
        <p class="more__subtitle">Привіт!</p>
        <div class="more__text">
          <p>Я – Катя, твій персональний консультант та помічник. Влаштовуйся зручніше і я детально розповім про криптовалюти та криптобіржі</p>
          <p>Якщо ти знайдеш відповіді на потрібне питання – напиши мені в онлайн чат і я з радістю відповім ;-)</p>
        </div>
        <div class="more__btn" (click)="scroll('faq')">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
            <path d="M1 12.4286L6.71429 17M6.71429 17L12.4286 12.4286M6.71429 17V1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <app-faq></app-faq>

  <app-footer></app-footer>

</div>
