<section class="faq" id="faq">
  <div class="container container--faq">
    <p class="title">Відповіді на питання</p>
    <div class="faq__wrap">
      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Криптовалюта – це…</p>
        <div class="faq__text">
          <p>Віртуальний актив, що має вартість, яка виражена у фіатних грошових одиницях (Євро, Доллар, Українська гривня тощо).
            Серед найбільш популярних криптовалют можна виділити Bitcoin, Etherum та інші.
            Ціна, або грошовий еквівалент вартості цих криптовалют, змінюється майже щодня. Тому такі криптовалюти найбільше підходять для інвестицій</p>
          <p> Окрема група криптовалют – це стеблкоїни, тобто криптовалюти, ціни на які стабільні, бо прив’язані до курсу, наприклад, долару США. Найбільш поширений стейблкоїн – цеUSD Tether
          </p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Що таке криптобіржа?</p>
        <div class="faq__text">
          <p>Криптобіржа – це місце, де можна обміняти криптовалюту на фіатні гроші, купити криптовалюту за фіатні гроші або обміняти одну криптовалюту на іншу</p>
          <p>Криптобіржі бувають регульовані та нерегульовані. Нерегульовані криптобіржі працюють за принципом маркетплейсу та зводять між собою потенційних покупця та продавця віртуального активу, які укладають угоду без прямої участі біржі. Такі угоди можуть викликати сумніви у банківських та платіжних установ, оскільки така транзакція чітко не врегульована законодавством і знаходиться у «сірій зоні». Це найчастіша причина блокування або закриття рахунків</p>
          <p>На відміну від нерегульованих криптобірж діяльність регульованих чітко регламентується законодавством, такі біржі повинні мати прозору структуру власності, ділова репутація бенефіціарних власників та керівництва має бути бездоганною, але найголовніше, що регульовані біржі повинні дотримуватися законодавства у сфері запобігання (протидії) легалізації (відмиванню) грошових коштів, одержаних злочинним шляхом і це дуже подобається банкам, які обслуговують твої рахунки</p>
          <p>Всі операції на регульованій криптобіржі мають обличчя – це юридична особа, належним чином зареєстрована та регульована відповідним органом в країні реєстрації. Твої фінансові транзакції відбуватимуться виключно з біржею, як провайдером послуги, а не з якимись невідомими третіми особами</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Що потрібно для реєстрації на криптобіржі?</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Ліміти та обмеження</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Як швидко зараховуються кошти при обміні крипти на Євро?</p>
        <div class="faq__text">
          <p>Ми виконуємо твою обміну операцію негайно. Це означає, що після надходження криптовалюти біржа автоматично перераховує Євро на вказаний тобою рахунок. Зарахування коштів займає від 1 до 3 годин, оскільки платежі в Єврозоні здійснюються згідно з регламентом SEPA. Час зарахування залежить від часу оплати заявки на обмін криптовалюти</p>

          <div class="faq__table">
            <div class="faq__box">
              <div class="faq__elem">Час оплати заявки</div>
              <div class="faq__info">6:45 am – 8:45 am</div>
              <div class="faq__info">8:50 am – 9:30 am</div>
              <div class="faq__info">9:30 am – 12:00 pm</div>
              <div class="faq__info">12:00 pm – 2:30 pm</div>
              <div class="faq__info">2:30 pm – 4:30 pm</div>
              <div class="faq__info">4:30 pm – 4:45 pm</div>
              <div class="faq__info">4:45 pm – 6:45 pm</div>
            </div>
            <div class="faq__box">
              <div class="faq__elem">Приблизний час зарахування</div>
              <div class="faq__info">11:10 AM</div>
              <div class="faq__info">11:10 AM</div>
              <div class="faq__info">1:40 PM</div>
              <div class="faq__info">4:10 PM</div>
              <div class="faq__info">5:40 PM</div>
              <div class="faq__info">5:40 PM</div>
              <div class="faq__info">на наступний робочий день о 9:00 AM</div>
            </div>
          </div>
          <p>Зверни увагу, що зарахування тобі коштів залежить від процедур фінансової установи, де в тебе відкрито рахунок</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Що якщо я не отримаю кошти?</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Чи оподатковуються операції з обміну криптовалюти?</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Якщо в мене спитають про походження коштів?</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

      <div class="faq__item" appToggleElem>
        <div class="faq__image">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 9.16667H10.8333V0H9.16667V9.16667H0V10.8333H9.16667V20H10.8333V10.8333H20V9.16667Z"/>
          </svg>
        </div>
        <p class="faq__title">Як розраховується курс обміну?</p>
        <div class="faq__text">
          <p>test</p>
        </div>
      </div> <!-- end faq__item-->

    </div>
    <a href="#" class="btn btn--reg">Зареєструватись</a>
  </div>
</section>

