@import 'variables';
@import "~swiper/swiper-bundle.css";

body, p, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: SFPro, sans-serif;
  @media screen and (max-width: 1023px),
  screen and (max-height: 800px) {
    overflow: auto !important;
  }
}

.container {
  max-width: 1700px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  &--info {
    max-width: 1040px;
  }
  &--faq {
    max-width: 1240px;
  }
}

.btn {
  cursor: pointer;
  display: block;
  max-width: 250px;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  padding: 18px 5px;
  border: 1px solid #3632F4;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-family: SFPro, sans-serif;
  transition: 0.25s background-color, 0.25s border, 0.25s color;
  &--reg {
    color: #fff;
    background-color: #3632F4;
    &:hover {
      background-color: #2a28c7;
      border-color: #2a28c7;
    }
  }
  &--more {
    color: #3632F4;
    &:hover {
      color: #fff;
      border-color: #2a28c7;
      background-color: #2a28c7;
    }
  }
}

.title {
  font-size: 61px;
  line-height: 1.18;
  color: #333333;
  text-align: center;
  padding-bottom: 70px;
  font-weight: 900;
  @media screen and (max-height: 900px) {
    font-size: 42px;
    padding-bottom: 55px;
  }
  @include media(mdx) {
    font-size: 40px;
    padding-bottom: 50px;
  }
  @include media(sm) {
    font-size: 32px;
    padding-bottom: 40px;
  }
}

.info {
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    @media screen and (max-width: 1023px),
    screen and (max-height: 800px) {
      top: -150px;
      height: calc(100% + 150px);
    }
  }
  @media screen and (max-width: 1023px),
  screen and (max-height: 800px)  {
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
  video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and (max-width: 1023px),
    screen and (max-height: 800px) {
      top: -150px;
      height: calc(100% + 150px);
    }
  }
  &__title {
    font-size: 64px;
    line-height: 1.18;
    color: #333333;
    text-align: center;
    padding-bottom: 70px;
    font-weight: 900;
    @media screen and (max-height: 900px) {
      font-size: 42px;
      padding-bottom: 55px;
    }
    @include media(mdx) {
      font-size: 43px;
      padding-bottom: 50px;
    }
    @include media(sm) {
      font-size: 28px;
      padding-bottom: 40px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.8;
    color: #333333;
    padding-bottom: 45px;
    text-align: center;
  }
  &__wrap {
    display: flex;
    justify-content: center;
    @include media(xs) {
      flex-direction: column;
      align-items: center;
    }
    &--inner {
      padding-bottom: 35px;
      .btn {
        margin-bottom: 35px;
      }
    }
    .btn--reg {
      margin-right: 40px;
      @include media(xs) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }
  &__btn {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3632F4;
    border-radius: 100px;
    margin: 0 auto;
    transition: 0.25s border;
    svg {
      position: relative;
      z-index: 2;
      stroke: #3632F4;
      transition: 0.25s stroke;
    }
    &:hover {
      border-color: #2a28c7;
      svg {
        stroke: #2a28c7;
      }
    }
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.advantage {
  &__slider {
    position: relative;
    padding: 0 80px;
    margin-bottom: 40px;
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    rect {
      stroke: #3632F4;
    }
    path {
      fill: #3632F4;
    }
    &:hover {
      rect {
        stroke: #2a28c7;
      }
      path {
        fill: #2a28c7;
      }
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
  .swiper-slide {
    height: auto;
    padding: 20px;
  }
  @media screen and (max-width: 1023px),
  screen and (max-height: 800px) {
    padding-bottom: 40px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin: 0 -20px;
    @include media(ds) {
      margin: 0 -15px;
    }
    @include media(sm) {
      margin: 0;
    }
  }
}

.feature {
  @media screen and (max-width: 1023px),
  screen and (max-height: 800px) {
    padding-bottom: 40px;
  }
  &__wrap {
    counter-reset: list;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin: 0 -15px;
    @media screen and (max-height: 900px) {
      padding-bottom: 10px;
    }
    @include media(sm) {
      margin: 0;
    }
  }

  &__elem {
    font-size: 32px;
    line-height: 1.25;
    color: #333333;
    text-align: center;
    padding-bottom: 54px;
    font-weight: 900;
    @media screen and (max-height: 900px) {
      padding-bottom: 40px;
    }
  }
}

.about {
  &__text {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    &:after {
      pointer-events: none;
      position: absolute;
      content: '';
      bottom: -130px;
      left: 168px;
      width: 168px;
      height: 168px;
      background-color: rgba(0, 87, 184, 0.4);
      filter: blur(74px);
      @include media(xs) {
        display: none;
      }
    }
    &:before {
      pointer-events: none;
      position: absolute;
      content: '';
      top: 0px;
      right: 64px;
      width: 406px;
      height: 406px;
      background-color: rgb(255, 216, 1, 0.4);
      filter: blur(203px);
      @media screen and (max-width: 1023px),
      screen and (max-height: 800px) {
        display: none;
      }
    }
    p {
      font-size: 32px;
      line-height: 1.3;
      color: #333333;
      padding-bottom: 170px;
      @media (max-height: 980px){
        font-size: 30px;
        padding-bottom: 120px;
      }
      @media (max-height: 920px){
        font-size: 25px;
        padding-bottom: 100px;
      }
      @include media(mdx) {
        font-size: 24px;
      }
      @include media(sm) {
        font-size: 16px;
      }
    }
  }
}


.item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1023px),
  screen and (max-height: 800px) {
    height: auto;
    display: block;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  background-color: #3632F4;
  padding: 80px 20px;
  transition: 0.25s opacity, 0.25s visibility;
  @include media(sm) {
    padding-top: 110px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .menu__link {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .4s var(--delay, 0), transform .4s var(--delay, 0), 0.25s color;
    }
  }
  &__title {
    font-size: 49px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 900;
  }
  &__btn {
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    @include media(sm) {
      top: 20px;
      right: 20px;
    }
    svg {
      display: block;
      fill: #3632F4;
    }
  }
}

.hidden {
  overflow: hidden;
}
